
body 
{
    font-family: Georgia, serif;
    font-size : 100%;
    background-color : WhiteSmoke;
    color:#170511; 
}

.div
{
    position:relative;
    background-color:#eddbf0;
    padding: 40px 0;   
    width: 100% ;
    height: 30px ; 
    top: -35px;
}

.header
{
    position: relative;
    text-align:center; 
    color:#15041a; 
    top: 10px;
    font-size : 200%;
    font-weight: bolder;
}

.table 
{
    width: 50%; 
    background: rgba(149, 245, 168, 0.836); 
    color: rgb(29, 48, 39); 
    border-spacing: 10px; 
    border: 1px solid rgb(117, 199, 150);
}

 .td, .th 
{
    background: rgb(209, 176, 213); 
    padding: 2px;
    text-align: center; 
}

.h3, .h4, .h5, .h6
{
    position: relative;
    text-align:center;
    font-size : 200%;
    font-weight: bolder;
}

.ttl
{
    position: relative;
    Left:2%; 
    width : 98%;
    color:#1C1C1C;
    font-size: 120%;
    font-weight: bolder;
}


.foot
{
    position: relative; 
    color: rgb(58, 94, 94);
    font-size: 90%;
}
 
.foot a
{
    position: relative; 
    color: rgb(38, 6, 43);
    font-size: 100%;
    font-weight: bolder;

}

.foot1
{
    left: 50%;
    margin-right: -50%;
    transform: translate(25%, 25%);
    color: rgb(65, 101, 101);
    font-size: 90%;
    font-weight: bolder;
}

.sum
{
    font-weight: bolder;
}

.navi
{
    border-color: darkkhaki;
    min-height: 64px;
    list-style-type: none;
    list-style-type: square;
    list-style-position: outside;
}

.navi li
{
    float: left;
    width: 100px;
    display: block;
}

.navi a
{
    display: block;
    color: rgb(67, 10, 79);
    font-weight: bold;
    line-height: 4em;
    text-align: center;
    display: block;
}

.navi li a:hover
{
    float: left;
    width: 100px;
    background-color: rgb(218, 196, 228);
}

.ul
{
    list-style-type: square;
}

.ul1
{
    list-style-type: circle;
}

.mark
{
    text-align: center;
    background: rgba(229, 204, 240, 0.836); 
    padding: 0 3px;
    border: 2px outset rgb(28, 8, 28);
}
table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
}

th 
{
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}  

td 
{
    padding: 10px;
}
  
tr:nth-child(odd)
{
    background: white;
}
  
tr:nth-child(even) 
{
    background: #E8E6D1;
}

.art
{
    position: relative;
     right : 26%;
    text-align:center;
    font-size : 100%;
    font-weight: bolder;
}

.button 
{
    background-color: #914ab0;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4
{
    background-color: white;
    color: black;
    border: 2px solid #DDA0DD;
}
  
.button4:hover 
{
    background-color: #DDA0DD;
}

.img_html 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.img_css 
{
    display: block;
    margin-left: 0;
    margin-right: 100%;
    position:relative;
    width: 700px; 
    height: 180px;
}

.img_xml
{  
    display: block;
    margin-left: 3;
    margin-right: 100%;
    position: relative;
    width: 600px; 
    height: 400px;   
}

.img_xml1
{  
    display: block;
    margin-left: 30%;
    margin-right: 50%;
    position: relative;
    width: 400px; 
    height: 250px;   
}

.img_xml2
{  
    display: block;
    margin-left: 30%;
    margin-right: 50%;
    position: relative;
    width: 700px; 
    height: 500px;   
}

.rightimg 
{
    width: 250px; 
    height: 250px; 
    float: right;
    margin: 4px 0 4px 4px; 
}

.rightimg1
{
    width: 700px; 
    height: 200px; 
    float: right;
    margin: 4px 0 4px 4px; 
}

video
{
    max-width: 100%;
    width: 500px; 
    height: 300px; 
    margin-left: 30%;
    margin-right: 30%;
}

audio
{
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow:  2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
}

audio:hover, audio:focus, audio:active
{
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

